<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="files/styles.css">
    <meta charset="UTF-8">
    <title>Pyaarlo Google Authentication</title>
</head>

<body>
    <div style="margin-left: 5%; margin-right: 5%;">
        <h2>Pyaarlo Google Authentication</h2>

        Success! Now add the following to your current <tt>Arlo</tt> configuration.

        <pre>
aarlo:
    imap_ouath_type: gmail
    imap_ouath_token: {{token}}
        </pre>
    </div>
</body>

</html>