{% extends "layout.html" %}
{% block content %}

<div style="margin-bottom: 25px">
<h2>Pyaarlo Authentication Helper</h2>
</div>

<div style="margin-bottom: 25px">
Please choose on of the following options:
</div>

<div style="margin-left: 2%;">
    <a href="https://google-auth-dot-pyaarlo-tfa.appspot.com/">
        <img src="static/btn_google_signin_dark_normal_web.png" alt="Use GMAIL for TFA">
    </a>
    <br><br>
    <span style="color:grey"><small>More coming.....</small></span>
</div>

{% endblock %}
